<a href="https://colab.research.google.com/github/salmanakhtar57/Python-Programming/blob/main/Python_Basics/Sets_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = set()
print(a)

set()

In [ ]:
a.add(3)
print(a)

{3}

In [ ]:
a.add(123)
print(a)

{123, 3}

In [ ]:
for x in a:
  print(x)

123
3

In [ ]:
given_list = [1, 1, 2, 4, 2]

new_set = set()
for x in given_list:
  new_set.add(x)
print(new_set)

{1, 2, 4}

In [ ]:
#for list
new_list = list()
for x in new_set:
  new_list.append(x)
print(new_list)

[1, 2, 4]

In [ ]:
#sets does not necerrally follow the orders of elements.

b = set()
b.add('Pakistan')
b.add('UK')
b.add(512)
print(b)

{'Pakistan', 512, 'UK'}

In [ ]:
#finding the sum of unique elements in the given list.
given_list2 = [1, 3, 3, 1, 4, 5]

In [ ]:
new_set2 = set()
for x in given_list2:
  new_set2.add(x)
  total = 0
for x in new_set2:
  total += x
print(total)

13