<a href="https://colab.research.google.com/github/salmanakhtar57/Python-Programming/blob/main/Python_Basics/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = set()
print(type(s))

<class 'set'>

In [ ]:
#sets using intersection
S = {'A', 'B', 'C'}

U = {'A', 'Z', 'C'}

U.intersection(S)

{'A', 'C'}

In [ ]:
#Disjoint functions
s.add(1)
s.add(2)
s1 = {4, 6}
print(s.isdisjoint(s1))

True

In [ ]:

#Remove Function
s.add(1)
s.add(2)
s.remove(2)
print(s)

{1}

In [ ]:
numbers = [1, 1, 2, 3, 4, 5, 5, 5]
unique = set(numbers)
print(unique)

{1, 2, 3, 4, 5}

In [ ]:
numbers = [1, 1, 2, 3, 4, 5, 5, 5]
first = set(numbers)
second = {2, 6}

print(first | second)
print(first & second)
print(first - second)
print(first ^ second)

if 1 in first:
  print("Yes")

{1, 2, 3, 4, 5, 6}
{2}
{1, 3, 4, 5}
{1, 3, 4, 5, 6}
Yes